
/* ---------CSS thanh chuyển hướng-------------- */
.nav li {
    position: relative;
}

.subnav {
    position: absolute;
    border-style: groove;
    display: none;
    min-width: 150px;
    background-color: rgb(7, 54, 77);
    padding-bottom: 20px;
}

.subnav>li>a {
    text-align: left;
    color: red;
    display: block;
    text-decoration: none;
    padding: 6px 8px;
    width: 190px;
}


.nav li:hover .subnav {
    display: block;
}

.al {
    padding-top: 60px;
}

/* CSS phần body SẢN PHẨM */
.pagination {
    display: flex;
    justify-content: center;
}
.badge {
    display: inline-block;
    padding: 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: white;
}
.bg-success {
    background-color: #bfefc4 !important;
    color: #02790c !important;
}
.bg-danger {
    background-color: #f9c9cd !important;
    color: #a90312 !important;
}
.bg-info {
    background-color: #b6bef5 !important;
    color: #0f2094 !important;
}
.bg-warning {
    background-color: #f2f98a !important;
    color: #8b9400 !important;
}
.trash {
    background: #f7c3c2;
    border: none;
    color: #de0400;
}
.edit {
    color: rgb(245 157 57);
    background-color: rgb(251 226 197);
    border: none;
}
/* CSS phần body ĐƠN HÀNG */
.table-don-hang{
    display: block;
}

/* CSS phần body THỐNG KÊ */
.table-thong-ke {
    display: block;
    
}
.app-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    border-radius: 0.375rem;
    padding: 10px 30px;
    border-left: 6px solid rgb(255, 212, 59);
}
.breadcrumb {
    padding: 8px 15px;
    margin: 0 !important;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.tile .tile-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: black;
    border-bottom: 2px solid rgb(255, 212, 59);
    font-weight: 700;
}
.row {
    display: flex;
    justify-content: space-between;
}
.widget-small .icon {
    display: flex;
    min-width: 85px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
    padding: 20px;
    border-radius: 2px 0px 0px 2px;
}
.widget-small.primary.coloured-icon .icon {
    background-color: rgb(185, 255, 211);
    color: rgb(34, 173, 86);
    border-radius: 0.375rem;
}
.widget-small.info.coloured-icon .icon {
    background-color: rgb(185, 255, 211);
    color: rgb(34, 173, 86);
    border-radius: 0.375rem;
}
.widget-small.warning.coloured-icon .icon {
    background-color: rgb(253, 225, 195);
    color: rgb(255, 139, 7);
    border-radius: 0.375rem;
}
.widget-small.danger.coloured-icon .icon {
    background-color: rgb(249, 186, 186);
    color: rgb(222, 34, 34);
    border-radius: 0.375rem;
}
/* CSS THEM SP */
div.form-them-sp {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    /* display: none; */
}
.form-them-sp {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    justify-content: space-around;
}

.button-chinh-sua {
    display: flex;
    justify-content: center;
    
}

.btn-save, .btn-cancel {
    width: 10%;
    margin-left: 5px;
}

.btn-save {
    background-color: rgb(166, 236, 171);
    color: rgb(1, 123, 10);
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-cancel {
    background-color: rgb(255, 197, 197);
    color: rgb(190, 40, 40);
    font-weight: 600;
    letter-spacing: 1px;
}
